.calendar-container {
    transition: transform 0.6s ease-in-out;
    overflow: hidden;
}

.text-box-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 150px;
    padding: 0px;
    width: 0px;
    position: absolute;
    transition: transform 0.6s ease-in-out;
}

.text-box-container textarea {
    resize: none;
    min-height: 100px;
    margin-left: 150px;
}

body {
    overflow-y: hidden; /* This will hide the vertical scrollbar */
    height: 100%; /* This makes sure the body takes the full viewport height */
  }

